
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#drum-machine {
    display: flex;
    align-items: center;
    width: 800px;
    margin: 0 auto;
    margin-top: 200px;
    padding: 20px 50px;
    border: 1px lightgreen solid;
}

#pad-container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px 80px 80px ;
    gap: 15px 15px; 
    grid-template-areas: 
        ". . ."
        ". . ."
        ". . .";
}

.drum-pad {
    height: 80px;
    width: 100px;
    border: 1px lightgray solid;
    text-align: center;
    padding-top: 30px;
    cursor: pointer;
}

#display {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    margin: auto;
    padding: 10px 20px;
    background-color: azure;
    color: gray
}